@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Courgette&display=swap');/* Fonts and Color */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Courgette&family=Londrina+Solid:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bangers&family=Bebas+Neue&family=Courgette&family=Londrina+Solid:wght@900&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  background: #FC9282;
  background: -webkit-linear-gradient(bottom right, #FC9282, #8B6EB3);
  background: -moz-linear-gradient(bottom right, #FC9282, #8B6EB3);
  background: linear-gradient(to top left, #FC9282, #8B6EB3);
  color: rgb(40,40,40);
}

h1, h2 {
  font-family: 'Audiowide', cursive;
}

a {
  text-decoration: none;
}

/* Customized style */

.card-white {
  background-color: rgba(240,240,240, 0.6);
  width: 400px;
  margin: 24px auto;
  box-shadow: 8px 8px 24px rgb(0 0 0 / 30%);
  border-radius: 4px;
  padding: 16px;
  text-align: center;
}

.img-circle {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 10% 50%;
  border-radius: 50%;
}

.btn-blue {
  background-color: #4D2F6B;
  color: rgb(250,250,250);
  padding: 16px 24px;
  border-radius: 4px;
  display: inline-block;
}

.btn-blue:hover {
  background-color: #B53F94;
  transition: 1s;
}

.list-inline {
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 64px;
  margin: 0 4px;
  color: rgb(40,40,40);
}