@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@400;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(40,40,40);
  background: #766DB6;
  background: -webkit-linear-gradient(top left, #766DB6, #FA9085);
  background: -moz-linear-gradient(top left, #766DB6, #FA9085);
  background: linear-gradient(to bottom right, #766DB6, #FA9085);
}

h1, h2 {
  font-family: 'Audiowide', cursive;
}

a {
  text-decoration: none;
}

/* Customize style */

.container {
  width: 500px;
  margin: 0 auto;
}

img.img-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 12% 50%;
}

.card-white {
  background-color: rgba(240,240,240,0.7);
  padding: 24px;
  margin: 24px 0px;
  border-radius: 4px;
  box-shadow: 8px 8px 24px rgb(0 0 0 / 30%);
  text-align: center;
}

a.btn-purple {
  background-color: #5848B6;
  color: rgb(240,240,240);
  padding: 16px 24px;
  border-radius: 4px;
  display: inline-block;
}

a.btn-purple:hover {
  background-color: #c94d91;
  transition: 1s;
}

ul.list-inline {
  padding: 0;
  list-style: none;
}

ul.list-inline li {
  display: inline;
}

ul.list-inline a {
  font-size: 48px;
  color: rgb(40,40,40);
}